.achievement {
  display: flex;
  padding:5px;
  border-bottom: var(--global-divider-border);
}

.achievement-image {
  height: 90px;
  object-fit: contain;
  padding: 5px;
}

.achievement-name {
  margin:5px;
}
.achievement-description {
  margin:5px;
}
