.button {
  text-align: center;
  padding: 0.25rem;
  /* margin: 0.25rem; */
  cursor: pointer;
  border-radius: 5px;
  border-style: outset;
  border-color: var(--global-color-background);
  border-width: 0.2rem;
  width:100%;
  font-family: "Roboto";
  font-size: medium;
}

.button-primary {
  background-color: var(--global-color-primary);
  color: white;
  font-weight: bold;
}

.button-secondary {
  background-color: white;
  color: black;
}
