.news-article {
  display: flex;
  flex-direction: column;
  background: var(--global-color-foreground);
}

.news-article-heading {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}

.single-article{
    margin:5ch;
  background: white;
  padding:5ch;
}

.article-text{

  font-size: large;

}
