.news-article {
  display: flex;
  flex-direction: column;
  background: var(--global-color-foreground);
}

.single-article {
  margin: 5ch;
  background: white;
  padding: 5ch;
}

.article-text {
  font-size: large;
}

@media screen and (max-width:600px) {
  .single-article{
    margin:2ch;
    padding:1ch;
  }
}