:root {
  --global-navbar-height: 3rem;
  --global-page-width-xl: 90rem;
  --global-divider-border: 1px solid hsl(0, 0%, 75%);
  --global-news-image-size: 10rem;
  --global-color-primary: hsl(226, 100%, 35%);
  --global-color-background: hsl(226, 100%, 20%);
}

html,
body {
  height: 100%;
  margin: 0px;
  background: hsl(226, 100%, 20%) 64%;
  background: linear-gradient(
    315deg,
    var(--global-color-background) 75%,
    var(--global-color-primary) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
