header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  max-width: var(--global-page-width-xl);
  width: 100%;
  height: var(--global-navbar-height);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-item:last-child {
  margin-left: auto;
}

.navbar-logo {
  height: var(--global-navbar-height);
}
