.news-big-item {
  display: flex;
  border-bottom: var(--global-divider-border);
  padding: 5px;
}

img {
  height: var(--global-news-image-size);
  padding: 0px 10px;
}

.news-big-item-title {
  font-size: large;
}

.news-big-item-posted-by {
  font-style: italic;
}
