.news-big-item {
  height: 130px;
  display: flex;
  border-top: var(--global-divider-border);
  padding: 5px;
}

.news-big-item:last-child {
  border-bottom: var(--global-divider-border);
}

img {
  height: 100%;
  object-fit: contain;
  padding: 0px 10px;
}

.news-big-item-title {
  font-size: large;
}

.news-big-item-posted-by {
  font-style: italic;
}
